<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div style="margin-top: 3%; margin-left: 6%;">
        <h1>Cryptocurrency Sentiment Analysis</h1>
        <h3>Analyze the market sentiment of recently published news articles related to various cryptocurrencies. </h3>
        <h4>Select a coin from the dropdown menu below and click "Run Analysis" to see the sentiment breakdown for the chosen coin.</h4>

        <form action="{{ url_for('analyze') }}" method="post">
            <label for="coin">Select Coin:</label>
            <input list="coins" id="coin-input" name="coin" required>
            <datalist id="coins">
                {% for coin_option in coin_options %}
                    <option value="{{ coin_option }}">
                {% endfor %}
            </datalist>
            {% if invalid %}
                <p style="color: red; width: 1000%;">No news articles found. Select a valid cryptocurrency from the dropdown menu.</p>
            {% endif %}
            <button type="submit" style="width: 25%;">Run Analysis</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
